<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumar+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
    <title>VUE TODOLIST</title>
</head>
<body>

   <div id="app">

    <header>
        <h1>TODOLIST</h1>

        <div class="input">
            <input type="text" name="text" id="text" v-model="newLista" >
            <input type="button" value="invia" class="button" @click="aggiungereListe">
        </div>
    </header>

    <main>
        <ul  v-for="(el,i) in todo" @click="el.done = true">
            <li >
                <div class="attivita"  :class="{'fatta': true == el.done} ">
                    {{el.text}}
                </div>
                <i id="cestino" class="far fa-trash-alt" @click="cancellaElLista(i)"></i>
            </li>
        
        </ul>
    </main>


   </div>


    <script src="app.js"></script>
</body>
</html>